@CHARSET "UTF-8";

.errors {
    font-style: italic;
    color: red;
}

div#heading {
    background-color: grey;

}

div#sidebarleft {
    background-color: yellow;
    float: left;
    width: 20%;
}

div#content {
    background-color: #f0ffff;
    float: right;
    text-align: left;
    width: 78%;
}

.columnHeader {
    font-weight: bold;
}

.oddColumn {
    background-color: #f5f5dc;
}

.evenColumn {
    background-color: #ffe4c4;
}

.ui-panelgrid tr, .ui-panelgrid td {
    border: 0 !important;
}
